body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Flex Mono',monospace;
}

header{
    width: 100w;
    height: 100vh;
    background: url();
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



*, ::before, ::after {
    box-sizing: inherit;
}

li {
    display: list-item;
    text-align: web
}